header {
    text-align: center;

}
header img {
    height: auto;
    width: 25%;
   
}
body {
    background-image: url(./img/317859-free-harry-potter-background-2000x1199.jpg);
}
*{
    margin: 5px;
    padding: 5px;
    margin-left: 10px;
}
#logo {

    font-size: 200%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: rgb(51, 37, 6);
    text-align: center;
    text-shadow: 1px 2px rgb(218, 179, 97), 1px 2px rgb(218, 182, 105);
    width: 100%;
    height: 30%;
    
    }
 /*.pagina {
  display: grid;
   grid-template-columns: repeat(auto-fill, minmax(min(100%, 10rem),1fr));
   grid-template-rows: repeat(2,auto);
   grid-column-gap: 5px;
   
}*/
.pagina #mostrar {
display: flex;
   /* flex-direction: column;*/
    height: 100px;
    /*width: 20%;*/
    justify-content: space-evenly;
    padding-top: 2%;
    /*grid-column: 3,5;
    grid-row: 2;*/
    
}

.pagina #genero {
    margin-left: 10%;
    flex-direction: row;
    padding-top: 4%;
    /*justify-content: space-between;*/
    align-items:flex-end;
    grid-column: 1/7;
    
   
   
}

.pagina .button {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    flex-direction: column;
    border: none;
    align-items:center;
    background-color: rgb(255, 220, 107);
    height:50px;
    width: 150px;
    padding-bottom: 50px;
    margin-left: 20px;
    border-bottom: 20%;
    color: rgb(51, 37, 6);
    border-radius: 40%;
    
}
.pagina .btnCasa{
 
    flex-direction: column;
    background-color: rgba(226, 183, 43, 0);
    color: white;
    border: none;
    align-items: center;
    height: 80px;
    width: 100px;
    padding: 5px;
}
.btnCasa img {
    height:80px;
    width:100px;
    padding-bottom: 5px;
}
.bienvenida{
    background-color: rgba(245, 245, 220, 0.384);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    font-style: italic;
    height: auto;
    align-items: center;
    grid-column: 1,3;
    grid-row: 2;
    color: white;

}
.bienvenida img{
    height: auto;
    width: 150px;
}



#characteresList{
    display: flex;
    color:white;
    flex-wrap: wrap;
    list-style: none;
    list-style-image: url(./img/m_m_sombrero\ \(3\).jpg);
   
    
}
#characteresList li{
    width: 150px;
}
.porcentaje{
    margin-left: 30%;
}
#resultado{
    color:white;
    align-content: center;
    margin-left: 50%;
   
}
/*rama karla*/
