*{
margin: 0;
box-sizing: border-box;

}

@media only screen and (max-width: 500px){
body{
    font-family: "Arial";
}

.encabezado{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.button{
    width: 240px;
    height: 48px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-size: 15px;
    font-weight: bold;
    margin: 20px;
   }

   .content{
    font-family: sans-serif;
    text-align: center;
    font-size: 45px;
  color:blanchedalmond
   }

   .galeria{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
  }
  
  .galeria img{
    max-width: 400px;
    padding: 1rem;
  }
}